REDIS_HOST=0.0.0.0
REDIS_PORT=6379
READ_BUFFER_SIZE=4096
LOG_LEVEL=INFO
LOG_REQUESTS=true
AWS_REGION=ap-northeast-2
CW_LOG_GROUP=/mini-redis/prod
CW_LOG_STREAM=mini-redis
AOF_ENABLED=false
AOF_PATH=data/appendonly.aof
